<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GoalStreet1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationAction</display-name>
    <servlet-name>RegistrationAction</servlet-name>
    <servlet-class>RegistrationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationAction</servlet-name>
    <url-pattern>/RegistrationAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginpageAction</display-name>
    <servlet-name>LoginpageAction</servlet-name>
    <servlet-class>LoginpageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginpageAction</servlet-name>
    <url-pattern>/LoginpageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPage</display-name>
    <servlet-name>ViewPage</servlet-name>
    <servlet-class>ViewPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPage</servlet-name>
    <url-pattern>/ViewPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hotelregister</display-name>
    <servlet-name>hotelregister</servlet-name>
    <servlet-class>hotelregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotelregister</servlet-name>
    <url-pattern>/hotelregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAct</display-name>
    <servlet-name>LoginAct</servlet-name>
    <servlet-class>LoginAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAct</servlet-name>
    <url-pattern>/LoginAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewprof</display-name>
    <servlet-name>Viewprof</servlet-name>
    <servlet-class>Viewprof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewprof</servlet-name>
    <url-pattern>/Viewprof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelRegister</display-name>
    <servlet-name>HotelRegister</servlet-name>
    <servlet-class>HotelRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelRegister</servlet-name>
    <url-pattern>/HotelRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelRegister1</display-name>
    <servlet-name>HotelRegister1</servlet-name>
    <servlet-class>HotelRegister1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelRegister1</servlet-name>
    <url-pattern>/HotelRegister1</url-pattern>
  </servlet-mapping>
</web-app>